<h1>Hello Test</h1>

<span>{{ hello }}</span>

<button ng-click="stats()" class="button">Get Stats</button>

<span> {{ pitch.pitchtendencies.game.types.type[0]['@num'] }}</span>

<input type="number" name="usrname" ng-model="data[3]">{{data}}</input>
<div>
   <chart-form></chart-form>
   <bar-chart height="options.height" data="data" hovered="hovered(args)"></bar-chart>
   <circlechart circledata="circledata"></circlechart>


</div>



<!-- Pitch Type Codes
   FS = Splitter
   SL = Slider
   FF = Fastball 4 Seam
   FT = Fastball 2 Seam
   SI = Sinker
   CH = Change
   FA = Fastball
   CU = Curve
   FC = Cutter
   KN = Knuckle
   KC = Knuckle Curve -->

   <!-- path: http://gd2.mlb.com/components/game/mlb/
							year_2012/ (VARIABLE)
							month_08/ (VARIABLE)
							day_22/ (VARIABLE)
							gid_2012_08_22_sfnmlb_lanmlb_1/ (V V V V V)

							inning/inning_all.xml

							or

							premium/pitchers/430912/ (VARIABLE)
							pitchtendencies_game.xml





    -->
